# Mobicore (Trustonic TEE) daemon
service mobicore /vendor/bin/mcDriverDaemon --sfs-reformat
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

on init
    mkdir /mnt/vendor/persist 0771 system system

on post-fs
    chown system system /mnt/vendor/persist
    chmod 0771 /mnt/vendor/persist
    restorecon /mnt/vendor/persist
    mkdir /mnt/vendor/persist/mcRegistry 0771 system system
